<div class="container my-5 pt-5">
    <div class="row pt-5">
        <div class="col-12"> 


            <div class="card detail my-3 px-5 py-5">
                <h2 class="detail-title">Contatti</h2>
                <hr/>
                <p class="detail-subtitle mt-5 mb-2">City: Milano, Italy - 20133</p>

                <p class="detail-subtitle my-2">Email: <a class="detail-subtitle text-dark" href="mailto: dario.parrinello@gmail.com">dario.parrinello@gmail.com</a>
                </p>
                <p class="detail-subtitle my-2">Phone: +39 366 25 33 217</p>

                <p class="detail-subtitle my-2"><a class="detail-subtitle text-dark" href="https://www.linkedin.com/in/dario-davide-parrinello-meli-a58b20a/">Linkedin profile</a>
                </p>

                <p class="detail-subtitle my-2"><a class="detail-subtitle text-dark" href="https://github.com/darioparrinello/">Github</a>
                </p>

            </div>
        </div>
    </div>
</div>


